<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="/"><i class="fa-solid fa-house fa-2x"></i></a></li>
    <li class="dropdown">
      <a href="#"><span>PROFIL</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li><a href="{% url 'visi_misi' %}">Visi dan Misi</a></li>
        <li><a href="{% url 'tugas_fungsi' %}">Tugas dan Fungsi</a></li>
        <li><a href="{% url 'struktur_organisasi' %}">Struktur Organisasi</a></li>
        <li><a href="testimonials.html">Sejarah</a></li>
        <li><a href="faq.html">Lokasi Kantor</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#"><span>KELEMBAGAAN</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li><a href="department-details.html">TKPSDA</a></li>
        <li><a href="service-details.html">Dewan Sumber Daya Air</a></li>
        <li><a href="appointment.html">KOMISI IRIGASI</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#"><span>APLIKASI</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li><a href="department-details.html">Katalog Peta Sumber Daya Air</a></li>
        <li><a href="service-details.html">Progres Pekerjaan</a></li>
        <li><a href="appointment.html">Early Warning Sistem</a></li>
        <li><a href="appointment.html">SIH3</a></li>
        <li><a href="appointment.html">E - Office SRIKANDI</a></li>
        <li><a href="appointment.html">Siteman Irigasi Kaltim</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#"><span>PUBLIKASI</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li class="dropdown">
          <a href="#"><span>Informasi SDA</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Pola Wilayah Sungai</a></li>
            <li><a href="#">Hari Air Dunia</a></li>
            <li><a href="#">Rencana PSDA Wilayah Sungai</a></li>
            <li><a href="#">Sebaran Perizinan SDA</a></li>
            <li><a href="#">Pemberdayaan Masyarakat</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><span>Perencanaan & Kinerja</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Renstra SDA</a></li>
            <li><a href="#">Laporan Kinerja DPUPRPERA KALTIM 2024</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><span>Media Informasi</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Majalah Banyu</a></li>
            <li><a href="#">Profil SDA</a></li>
            <li><a href="#">Publikasi Hidrologi</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><span>Galeri</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Galeri Foto</a></li>
            <li><a href="#">Galeri Video</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><span>Hasil Survey Kepuasan</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Indeks Kepuasan Masyarakat (IKM)</a></li>
            <li><a href="#">Pelayanan Hidrologi dan Kualitas Air</a></li>
            <li><a href="{% url 'pelayanan_rekomtek' %}">Pelayanan Rekomtek</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#"><span>LAYANAN PUBLIK</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li><a href="https://www.lapor.go.id/" target="_blank">Pengaduan</a></li>
        <li><a href="#">Peraturan</a></li>
        <li><a href="#">SOP</a> </li>
      </ul>
    </li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
